// right side modal
.modal-right {
  .modal-dialog {
    position: fixed;
    margin: auto;
    width: 966px;
    right: 0;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);

    @include laptop-sm {
      width: 766px;
    }

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

// Allow scrolling of body when modal is open
// .modal-open {
//   overflow: auto !important;
// }


.company-modal {
  .modal-content {
    height: 100vh;
    overflow-y: auto;
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  // Header
  .modal-header {
    padding: 0; // overwrite bootstrap
    position:relative;
    min-height: 144px;
    overflow: auto;

    .company-link {
      color: #949494;
      margin-left: 9px;
      font-size: 18px;

      &:hover {
        color: inherit;
      }
    }
  }

  .modal-header-container {
    height: 100%;
    padding: 15px;
    position: relative; // for absolutely positioning timestamp

    .modal-header-content {
      display: table;
    }

    .company-logo {
      width: 103px;
      display: table-cell;

      @include mobile {
        width: 94px;
      }
    }

    .meta {
      display: inline-block;
      vertical-align: middle;
      margin-left: 18px;
      display: table-cell;
      padding-left: 18px;

      @include mobile {
        max-width: 270px;
      }

      .company-name {
        font-size: 25px;
        margin-bottom: 3px;

        @include mobile {
          font-size: 22px;
        }
      }

      .company-desc {
        margin-bottom: 7px;
        font-size: 17px;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .timestamp {
      display: inline-block;
      position: absolute;
      bottom: 3px;
      right: 7px;
      color: #797979;
      font-size: 14px;

      @include mobile {
        display: none;
      }
    }
  }
  // Header ends

  .menu-bar {
    background: #1E1F2A;
    color: #fff;
    padding: 8px 38px;
    font-size: 17px;
    font-weight: 600;

    .menu-list {
      margin-bottom: 0;
    }

    .menu-item {
      display: inline-block;
      margin-right: 74px;

      @media (max-width: 499px) {
        margin-right: 13px;
      }

      .menu-link {
        text-decoration: none;
        color: inherit;
        font-weight: 300;
        cursor: pointer;

        &.active {
          font-weight: 600;
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }

        &:hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }
      }
    }
  }

  .modal-body {
    flex: 1;
    padding: 30px;

    .trait-item {
      margin-bottom: 23px;

      .fa {
        margin-right: 12px;
      }

      .item-name {
        font-size: 15px;
        font-weight: 600;
        margin-right: 11px;
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding-bottom: 3px;
        display: inline;
      }

      .item-value {
        font-size: 16px;
        font-weight: 500;
      }

      .tooltip-trigger {
        padding: 0 5px 5px;
        font-size: 12px;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        -o-user-select: none;
        user-select: none;
        cursor: default;
      }
    }

    .tab:not(.active) {
      display: none;
    }

    .tab-work, .tab-tech {
      .trait-item {
        .item-name {
          display: block;
          margin-bottom: 14px;
          border-bottom: 0;
        }
      }
    }
  }

  .close {
    position: absolute;
    right: 5px;
    top: 0px;
    font-size: 24px;
    z-index: 1;
  }
}

.sign-in-dialogue {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);

  @include mobile {
    padding: 2em;
  }

  p {
    font-size: 17px;
    color: #1e1f2a;
  }

  .go-back {
    display: block;
    margin-top: 7px;
    font-size: 15px;
    color: #777777;
    text-decoration: underline;
  }
}
