.company-item {
  padding: 2em 3em;
  border: 1px solid #E8E8E8;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;

  &:hover {
    background: #FDFDFD;
  }

  .company-logo {
    width: 100%;
  }

  .company-name {
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
  }
}

.company-modal {

  @media (min-width: 1167px) {
    .modal-dialog {
      width: 1125px;
      margin-top: 79px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1166px) {
    .modal-dialog {
      width: 900px;
      margin-top: 79px;
    }
  }

  @media (max-width: 769px) and (min-width: 500px) {
    .modal-dialog {
      width: 100%;
      margin-top: 98px;
    }
  }

  @media (max-width: 499px) {
    .modal-dialog {
      width: 100%;
      margin: 0;
    }
  }

  @media (min-width: 500px) {
    .modal-content {
      border: 0;
      border-radius: 1px;
      height: 637px;
    }
  }

  .modal-header {
    text-align: center;

    .company-logo {
      width: 80px;
    }
  }

  .company-link {
    color: #949494;
    margin-left: 9px;
    font-size: 18px;

    &:hover {
      color: inherit;
    }
  }

  .menu-bar {
    background: #F02C41;
    color: #fff;
    padding: 9px 48px;
    font-size: 17px;
    font-weight: 600;

    .menu-list {
      margin-bottom: 0;
    }

    .menu-item {
      display: inline-block;
      margin-right: 74px;

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 300;

        &.active {
          font-weight: 600;
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }

        &:hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }
      }
    }
  }

  .hiring-banner {
    background: #F02C41;

  }

  .not-hiring-banner {
    background: #519EB0;
  }

  .category-heading {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 17px;

    .fa {
      margin-right: 11px;
    }
  }

  .modal-body {
    padding: 1.2em 2.9em;
  }

  .tab:not(.active) {
    display: none;
  }

  .tab-overview {
    margin-top: 28px;
  }

  .trait-item {
    margin-bottom: 18px;

    .item-name {
      font-size: 17px;
      font-weight: 400;
      margin-right: 11px;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .item-value {
      font-size: 27px;
      font-weight: 500;
    }
  }
}

// make modal slide from the right
.modal.fade:not(.in) {
  .modal-dialog {
    transform: translate(25%, 0);
    -webkit-transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    -o-transform: translate(25%, 0);
  }
}
