.finder {
  .counter {
    text-align: center;
    color: #8A8A8A;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .filter-definition {
    text-transform: uppercase;
    color: #5A5A5A;
    padding-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .filter-label {
    padding: 6px 12px;
    border: 2px solid #828282;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    // padding-left: 33px;
    // padding-right: 33px;
    // margin-bottom: 9px;
    color: #828282;
    border-radius: 3px;

    @media(max-width: 499px) {
      // padding: 4px 9px;
      // font-size: 14px;
      // margin-bottom: 3px;
    }

    &:hover {
      background-color: #FBFBFB;
      border-color: #828282;
      color: #40435c;
    }

    &.active {
      border: 2px solid #f02c41;
      background-color: #f02c41;
      color: #ffffff;
    }

    &:not(:first-of-type) {
      margin-left: 2px;
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .filter-group {
    .filter-label {
      margin-left: 0;
      border-radius: 0;

      &:first-of-type {
        border-right-width: 1px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-of-type {
        border-left-width: 1px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:not(:first-of-type):not(:last-of-type) {
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }
  }

  .radio-filter {
    display: inline-block;

    &.team-size-filter {
      .filter-label:first-of-type {
        border-right-width: 1px;
      }

      .filter-label:last-of-type {
        border-left-width: 1px;
      }

      .filter-label:not(:first-of-type):not(:last-of-type) {
        border-left-width: 1px;
        border-right-width: 1px;
      }
    }

    input[type="radio"] {
      display: none;
    }

    .filter-label {
      margin-left: 0;
      // padding-left: 26px;
      // padding-right: 26px;
      text-align: center;
      border-radius: 0;

      &:first-of-type {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &:last-of-type {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }


      @media(max-width: 499px) {
        // padding-left: 24px;
        // padding-right: 24px;
      }
    }
  }

  .rb-btn-primary {
    background: #F02C41;
    color: #ffffff;
    border: 2px solid #F02C41;
    border-radius: 2px;
    // width: 100%;
    outline: none;

    &:hover {
      background: rgba(240, 44, 65, 0.77);
      border-color: rgba(255, 91, 109, 0.77);
    }
  }

  .mobile-view-filters {
    .filter-group {
      .filter-row {
        margin-bottom: -1px;
      }
    }

    .filter-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 3px;
    }

    .filter-label {
      flex: 1;
      text-align: center;
      font-size: 14px;
    }

    .team-size-filter {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .hiring-filter {
      flex: 0.7;
    }

    .retreats-filter {
      flex: 0.7;
    }
  }

  .desktop-view-filters {
    .filter-row {
      margin-bottom: 4px;
    }

    .filter-label {
      padding: 9px 14px;

      &:not(:first-of-type) {
        margin-left: 4px;
      }
    }

    .radio-filter:not(:first-child) {
      margin-left: 4px;
    }

    .radio-filter, .filter-group {
      .filter-label {
        margin-left: 0;
      }
    }
  }

  .mobile-view-actions {
    display: flex;
    flex-direction: row;

    .search-btn {
      flex: 0.8;
      margin-right: 3px;
    }

    .unselect-all-btn {
      flex: 0.2;
    }
  }
}

.filters {
  padding-bottom: 1.7em;
}

.search-actions {
  margin-top: 8px;

  @media(max-width: 499px) {
    margin-top: 4px;
  }
}
