.finder {
  .counter {
    text-align: center;
    color: #8A8A8A;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
  }

  .filter-definition {
    text-transform: uppercase;
    color: #5A5A5A;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 4px;
    -webkit-user-select: none;
    padding-left: 1px;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .filter-label {
    padding: 6px 12px;
    border: 2px solid #828282;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    // padding-left: 33px;
    // padding-right: 33px;
    // margin-bottom: 9px;
    color: #828282;
    border-radius: 3px;

    @media(max-width: 499px) {
      // padding: 4px 9px;
      // font-size: 14px;
      // margin-bottom: 3px;
    }

    &:hover {
      background-color: #FBFBFB;
      border-color: #828282;
      color: #40435c;
    }

    &.active {
      border: 2px solid #f02c41;
      background-color: #f02c41;
      color: #ffffff;
    }

    &:not(:first-of-type) {
      margin-left: 2px;
    }

    input[type="checkbox"] {
      display: none;
    }
  }

  .filter-group {
    .filter-label {
      margin-left: 0;
      border-radius: 0;

      &:only-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      &:not(:only-child) {
        &:first-of-type {
          border-right-width: 1px;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }

        &:last-of-type {
          border-left-width: 1px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }

        &:not(:first-of-type):not(:last-of-type) {
          border-left-width: 1px;
          border-right-width: 1px;
        }
      }
    }
  }

  .mobile-view-filters {
    .filter-group {
      .filter-row {
        margin-bottom: -2px;
      }
    }

    .filter-row {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px;
    }

    .filter-label {
      flex: 1;
      text-align: center;
      font-size: 11px;

      @media(max-width: 375px) {
        font-size: 10px;
        font-weight: 600;
      }
    }

    .team-size-filter {
      display: flex;
      flex-direction: row;
      flex: 1;
    }

    .hiring-filter {
      flex: 0.7;
    }

    .retreats-filter {
      flex: 0.7;
    }

    .funding-filters {
      flex: 1;
      display: flex;
      margin-right: 2px;

      .vc-filter {
        flex: 0.2;
      }
    }

    .filter-context-group {
      margin-top: 6px;
    }

    .name-filter-container {
      position: relative;
      display: inline-block;
      width: 100%;

      .fa {
        position: absolute;
        top: 10px;
        left: 14px;
        color: #40435C;
        font-size: 12px;
      }

      .name-filter {
        width: 100%;
        border: 2px solid #828282;
        border-radius: 3px;
        font-size: 16px;
        padding: 5px 12px;
        font-size: 12px;
        text-align: center;
      }
    }
  }

  .desktop-view-filters {
    .filter-row {
      margin-bottom: 6px;
    }

    .filter-label {
      padding: 9px 19px;

      @media(max-width: 1024px) {
        font-size: 13px;
        letter-spacing: 0.3px;
      }

      &:not(:first-of-type) {
        margin-left: 3px;
      }
    }

    .filter-group {
      display: flex;
      text-align: center;

      .filter-label {
        margin-left: 0;
        flex: 1;
      }
    }

    .radio-filter {
      width: 100%;
      display: flex;

      // &:not(:first-child) {
      //   margin-left: 4px;
      // }
    }

    .team-size-filter {
      .filter-lt10 {
        flex: 0.5;
      }

      .filter-gt100 {
        flex: 0.7;
      }

      .filter-label {
        padding: 9px 8px;
      }
    }

    .name-filter-container {
      position: relative;
      display: inline-block;

      .fa {
        position: absolute;
        top: 16px;
        left: 19px;
        color: #40435C;
      }

      .name-filter {
        border: 2px solid #828282;
        border-radius: 3px;
        padding: 9px 20px 9px 40px;
        margin-left: 3px;
        font-size: 16px;
      }
    }
  }

  .mobile-view-actions {
    display: flex;
    flex-direction: row;

    @media(max-width: 499px) {
      margin-top: 10px;
    }

    .search-btn {
      flex: 0.8;
      margin-right: 3px;
    }

    .unselect-all-btn {
      flex: 0.2;
    }
  }
}


.filters {
  padding-bottom: 1.7em;
}

.search-actions {
  margin-top: 8px;

  @media(max-width: 499px) {
    margin-top: 4px;
  }
}
