// .navbar.header { // To overwrite bootstrap
//   margin-bottom: 0px;
//   padding: 7px 0;
//   box-shadow: 0 -1px 1px 2px #B1B1B1;
//   border-radius: 0;
//
//   @include mobile {
//     margin-bottom: 14px;
//   }
// }

.navbar.header {
  height: 218px;
  background: #1e1f2a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;

  @include mobile {
    height: auto;
    padding-top: 15px;
  }

  .header-logo {
    width: 69px;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;

    @include mobile {
      width: 43px;
      margin-bottom: 5px;
    }
  }

  .header-desc {
    font-size: 1.4em;
    margin-top: 12px;
    font-weight: 300;

    @include mobile {
      font-size: 1em;
    }
  }

  .brand {
    color: inherit;

    &:hover {
      color: inherit;
    }

    .name {
      display: inline-block;
      vertical-align: middle;
      font-size: 1.4em;
      margin-left: 10px;
      margin-bottom: 0;
      font-weight: 400;

      @include mobile {
        font-size: 1.3em;
      }
    }
  }

  .header-menu {
    @include mobile {
      font-size: 12px;
    }

    .menu-item {
      color: gray;
      margin-right: 7px;

      @include mobile-md {
        font-size: 12px;
      }

      &:not(:first-child) {
        margin-left: 6px;
      }

      .fa {
        margin-right: 4px;
      }
    }
  }

  .alerts-btn {
    margin-right: 5px;
  }
}
