@mixin card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 234px;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

.company-view-list {
  .company-logo  {
    width: 43px;
  }

  .company-item-container {
    margin-bottom: 4px;
    border: 1px solid rgba(130, 130, 130, 0.43);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    height: 61px;

    @media(max-width: 499px) {
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;

      .company-meta {
        margin-bottom: 7px;
      }
    }

    &:hover {
      background: #F0F7F9;
    }

    .company-item {
      @media(min-width: 1200px) {
        display: flex;
        flex: 1;
        align-items: center;
      }

      .company-label {
        margin-right: 24px;

        &.employee-label {
          width: 144px;
          text-align: center;
          display: inline-block;
        }

        &.distributed-ratio-label {
          width: 144px;
          text-align: center;
          display: inline-block;
        }

        @media(max-width: 499px) {
          margin-right: 3px;

          &.employee-label {
            width: auto;
            text-align: center;
            display: inline-block;
          }

          &.distributed-ratio-label {
            width: auto;
            text-align: center;
            display: inline-block;
          }
        }

      }
    }

    .company-name {
      display: inline-block;
      margin-left: 24px;
      font-size: 17px;
      font-weight: 600;
    }
  }
}

// company list card view
.company-view-card {
  .company-item-container {
    @include card;

    .company-item, .hover-info-container {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    .company-item {
      margin-left: 0;
    }

    .hover-info-container {
      position:absolute;
      top:0;
      width: 100%;
      margin-left:-598px;
      background: #40435C;
      color: #ffffff;
      opacity: 0.98;
      height: 234px;
    }

    .hover-info {
      padding: 1.3em 3em;
      background: #40435C;
      color: #ffffff;
      opacity: 0.98;
      height: 100%;

      @media (max-width: 769px) {
            padding: 2em 1em;
      }

      .company-name {
        display: block;
        text-align: center;
        font-size: 1.6em;
        text-decoration: underline;

        @media (max-width: 769px) {
          font-size: 17px;
        }
      }

      .salary-range {
        margin-top: 11px;
        font-size: 1.1em;

        @media (max-width: 769px) {
          font-size: 11.5px;
        }

      }

      .summary-list {
        margin-top: 5px;

        li {
          font-size: 18px;

          @media (max-width: 769px) {
            font-size: 13px;
          }

          .fa {
            margin-right: 4px;
          }
        }
      }

      .official-icon {
        color: inherit;
        margin-right: 4px;
        margin-left: 0;
        font-size: inherit;
      }

      .official-info {
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #F38282;
      }
    }

    &:hover {
      .hover-info-container {
        margin-left: 0px;
        border: none;
      }
    }
  }

  .company-item, .hover-info {
    padding: 2em 0em;
    // height: 234px;

    @media (max-width: 499px) {
      padding: 0.5em 0;
      // height: 198px;
      overflow: hidden;
    }

    .company-heading {
      margin-bottom: 8px;
    }

    .company-logo {
      width: 66px;
      margin-bottom: 14px;

      @media (max-width: 499px) {
        width: 64px;
        margin-bottom: 0;
        width: 48px;
      }
    }

    .company-name {
      font-size: 25px;
      font-weight: 600;
      display: inline-block;
      margin-top: 6px;

      @media (max-width: 499px) {
        font-size: 1em;
      }
    }

    .short-desc {
      text-transform: uppercase;
      padding: 0 0.7em;

      @media (max-width: 499px) {
        font-size: 13px;
        margin-bottom: 0;
      }
    }
  }
}

.company-modal {

  @media (min-width: 1167px) {
    .modal-dialog {
      width: 1125px;
      margin-top: 79px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1166px) {
    .modal-dialog {
      width: 900px;
      margin-top: 79px;
    }
  }

  @media (max-width: 769px) and (min-width: 500px) {
    .modal-dialog {
      width: 100%;
      margin-top: 98px;
    }
  }

  @media (max-width: 499px) {
    .modal-dialog {
      width: 100%;
      margin: 0;
    }

    .modal-content {
      border-radius: 0;
      border: 0;
      min-height: 100vh;
    }
  }

  @media (min-width: 500px) {
    .modal-content {
      border: 0;
      border-radius: 1px;
      height: 637px;
    }
  }

  .edit-label {
    left: 16px;
    position: absolute;
    background: #F02C41;
    border: 1px solid #F02C41;
    color: #FFFFFF;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;
    padding: 0.2em 0.8em;
    border-radius: 2px;
    font-size: 17px;
  }

  .modal-header {
    padding: 0;

    .close { // overwrite the close button provided by bootstrap-react
      position: absolute;
      right: 5px;
      top: 0px;
      font-size: 24px;
      z-index: 1;
    }

    .meta {
      display: inline-block;
      vertical-align: middle;
      margin-left: 24px;
      margin-top: 19px;

      .company-name {
        font-size: 23px;
        font-weight: 500;
      }
    }

    .summary {
      margin-top: 16px;
      margin-bottom: 0;

      li.unchecked {
        color: #9A9A9A;
      }

      li.checked {
        color: #F02C41;
        font-weight: 600;
      }

      @media(max-width: 499px) {
        margin-top: 0;
        margin-bottom: 9px;
        text-align: center;
      }
    }

    .company-logo {
      width: 80px;
      display: inline-block;
      margin: 13px;
    }

    .edit-btn {
      left: 16px;
      position: absolute;
      background: transparent;
      border: 1px solid #F02C41;
      color: #F02C41;
    }
  }

  .modal-body {
    padding: 0;
  }

  .company-link {
    color: #949494;
    margin-left: 9px;
    font-size: 18px;

    &:hover {
      color: inherit;
    }
  }

  .company-desc {
    text-transform: uppercase;
  }

  .menu-bar {
    background: #F02C41;
    color: #fff;
    padding: 9px 48px;
    font-size: 17px;
    font-weight: 600;

    .menu-list {
      margin-bottom: 0;
    }

    .menu-item {
      display: inline-block;
      margin-right: 74px;

      @media (max-width: 499px) {
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 7px;
      }

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 300;

        &.active {
          font-weight: 600;
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }

        &:hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }
      }
    }
  }

  .hiring-banner {
    background: #F02C41;

  }

  .not-hiring-banner {
    background: #519EB0;
  }

  .category-heading {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 17px;

    .fa {
      margin-right: 11px;
    }
  }

  .tab {
    padding: 1.2em 2.9em;
  }

  .tab:not(.active) {
    display: none;
  }

  .tab-overview {
    .overview-list {
      padding-top: 23px;
    }
  }

  .tab-work, .tab-tech {
    .trait-item {
      .item-name {
        display: block;
        margin-bottom: 14px;
        border-bottom: 0;
      }
    }
  }

  .trait-item {
    margin-bottom: 23px;

    .fa {
      margin-right: 12px;
    }

    .item-name {
      font-size: 15px;
      font-weight: 600;
      margin-right: 11px;
      text-transform: uppercase;
      border-bottom: 1px solid black;
      padding-bottom: 3px;
    }

    .item-value {
      font-size: 16px;
      font-weight: 500;
    }

    .tooltip-trigger {
      padding: 0 5px 5px;
      font-size: 12px;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;
      cursor: default;
    }
  }
}

// make modal slide from the right
.modal.fade:not(.in) {
  .modal-dialog {
    transform: translate(25%, 0);
    -webkit-transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    -o-transform: translate(25%, 0);
  }
}

.not-known-yet {
  font-size: 21px;
  font-weight: 300;
  border: 1px solid rgba(64, 67, 92, 0.22);
  padding: 0.5em;
  border-radius: 7px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: default;

  &:hover {
    background-color: #F1F1F1;
  }

  img {
    width: 49px;
    margin-bottom: 10px;
  }
}
