.company-item-container {
  margin-bottom: 23px;
  position: relative;
  overflow: hidden;

  .company-item, .hover-info-container {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .company-item {
    margin-left: 0;
  }

  .hover-info-container {
    position:absolute;
    top:0;
    width: 100%;
    margin-left:-598px;
  }

  .hover-info {
    padding: 1.3em 3em;
    background: #40435C;
    color: #ffffff;
    opacity: 0.98;

    .company-name {
      display: block;
      text-align: center;
      font-size: 1.6em;
      text-decoration: underline;
    }

    .salary-range {
      margin-top: 11px;
      font-size: 1.1em;
    }

    .summary-list {
      margin-top: 19px;

      li {
        font-size: 18px;

        .fa {
          margin-right: 4px;
        }
      }
    }
  }

  &:hover {
    .hover-info-container {
      margin-left: -15px;
    }
  }
}

.company-item, .hover-info {
  padding: 2em 0em;
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  height: 234px;

  @media (max-width: 499px) {
    height: 274px;
    text-align: center;
  }

  .company-logo {
    width: 66px;
    margin-bottom: 14px;

    @media (max-width: 499px) {
      width: 64px;
      margin-bottom: 20px;
    }
  }

  .company-name {
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    margin-top: 6px;
  }

  .company-heading {
    margin-bottom: 8px;
  }

  .short-desc {
    text-transform: uppercase;
    padding: 0 0.7em;
  }
}

.company-modal {

  @media (min-width: 1167px) {
    .modal-dialog {
      width: 1125px;
      margin-top: 79px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1166px) {
    .modal-dialog {
      width: 900px;
      margin-top: 79px;
    }
  }

  @media (max-width: 769px) and (min-width: 500px) {
    .modal-dialog {
      width: 100%;
      margin-top: 98px;
    }
  }

  @media (max-width: 499px) {
    .modal-dialog {
      width: 100%;
      margin: 0;
    }
  }

  @media (min-width: 500px) {
    .modal-content {
      border: 0;
      border-radius: 1px;
      height: 637px;
    }
  }

  .modal-header {
    text-align: center;

    .company-logo {
      width: 80px;
    }
  }

  .company-link {
    color: #949494;
    margin-left: 9px;
    font-size: 18px;

    &:hover {
      color: inherit;
    }
  }

  .menu-bar {
    background: #F02C41;
    color: #fff;
    padding: 9px 48px;
    font-size: 17px;
    font-weight: 600;

    .menu-list {
      margin-bottom: 0;
    }

    .menu-item {
      display: inline-block;
      margin-right: 74px;

      a {
        text-decoration: none;
        color: inherit;
        font-weight: 300;

        &.active {
          font-weight: 600;
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }

        &:hover {
          border-bottom: 1px solid #fff;
          padding-bottom: 1px;
        }
      }
    }
  }

  .hiring-banner {
    background: #F02C41;

  }

  .not-hiring-banner {
    background: #519EB0;
  }

  .category-heading {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 17px;

    .fa {
      margin-right: 11px;
    }
  }

  .modal-body {
    padding: 1.2em 2.9em;
  }

  .tab:not(.active) {
    display: none;
  }

  .tab-overview {
    margin-top: 28px;
  }

  .trait-item {
    margin-bottom: 18px;

    .item-name {
      font-size: 17px;
      font-weight: 400;
      margin-right: 11px;
      text-transform: uppercase;
      text-decoration: underline;
    }

    .item-value {
      font-size: 27px;
      font-weight: 500;
    }
  }
}

// make modal slide from the right
.modal.fade:not(.in) {
  .modal-dialog {
    transform: translate(25%, 0);
    -webkit-transform: translate(25%, 0);
    -ms-transform: translate(25%, 0);
    -o-transform: translate(25%, 0);
  }
}
