.header {
  @media (min-width: 499px) {
    margin-bottom: 21px;
  }


  .navbar-brand-container {
    @media (max-width: 499px) {
      text-align: center;
      margin-top: 2px;
    }
  }

  .navbar-brand {

    @media (max-width: 499px) {
      float: none;
      display: block;
    }

    .logo {
      width: 56px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    .name {
      font-size: 26px;
      vertical-align: middle;
      color: #1E1F2A;
    }

    .brand-wrapper {
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;

      @media (max-width: 499px) {
        display: block;
        margin-top: 5px;
      }

      .tagline {
        font-size: 15px;
      }
    }
  }

  .navbar-nav {
    margin-top: 7px;
    font-size: 21px;
    padding-right: 10px;

    @media (min-width: 499px) {
      float: right;
    }
  }
}

html {
  body {
    color: #1E1F2A;
    font-family: 'Lato', sans-serif;

    // Following styles are nested to overwrite some default rules
    // provided by other librareis such as bootstrap and fontawesome

    // check icon that displays the company's profile is managed by the company itself
    .official-icon {
      font-size: 18px;
      color: #519Eb0;
      margin-left: 4px;
    }
  }
}

.rb-label {
  background-color: white;
  color: #40435C;
  border: 1px solid #40435C;
  padding: 6px 10px;
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 9px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.rb-label.rb-label-hoverable {
  &:hover {
    background-color: #40435C;
    color: #EFF8FE;
  }
}

.mailchimp-banner {
  background-color: #F02C41;
  color: white;
  padding: 15px 18px;
  border: 1px solid rgba(130, 130, 130, 0.43);
  // margin-bottom: 5px;
  margin-bottom: 27px;
  border-radius: 3px;

  .cta {
    // color: #ffffff;
    font-size: 18px;
    margin-top: 6px;
    padding-left: 36px;

    @media (max-width: 499px) {
      margin-bottom: 7px;
    }
  }

  .signup-btn {
    background: #1E1F2A;
    color: #ffffff;

    @media (max-width: 499px) {
      width: 100%;
      margin-top: 6px;
    }

    &:hover {
      color: #ffffff;
      background: #40435C;
    }
  }
}

.hidden {
  display: none;
}

.main-footer {
  text-align: center;
  background-color: #1e1f2a;
  color: #eef8fe;
  padding: 2em 0;

  a {
    color: #519eb0;
  }

  p {
    margin-bottom: 0;
  }

  .mail {
    margin-top: 30px;
  }
}

.rb-btn-primary {
  background: #F02C41;
  color: #ffffff;
  border: 2px solid #F02C41;
  border-radius: 2px;
  width: 100%;
  outline: none;

  &:hover {
    background: rgba(240, 44, 65, 0.77);
    border-color: rgba(255, 91, 109, 0.77);
  }
}

main {
  padding-bottom: 20px;
}

.loader-spin {
  -webkit-animation: fa-spin 0.8s infinite linear;
  animation: fa-spin 0.8s infinite linear;
}
