.header {
  margin-bottom: 21px;

  .navbar-brand-container {
    @media (max-width: 499px) {
      text-align: center;
      margin-top: 2px;
    }
  }

  .navbar-brand {

    @media (max-width: 499px) {
      float: none;
    }

    .logo {
      width: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    .name {
      font-size: 29px;
      vertical-align: middle;
      color: #1E1F2A;
    }
  }

  .navbar-nav {
    margin-top: 7px;
    font-size: 21px;
    padding-right: 10px;

    @media (min-width: 499px) {
      float: right;
    }
  }
}

html {
  body {
    color: #1E1F2A;
    font-family: 'Lato', sans-serif;

    // Following styles are nested to overwrite some default rules
    // provided by other librareis such as bootstrap and fontawesome

    // check icon that displays the company's profile is managed by the company itself
    .official-icon {
      font-size: 18px;
      color: #519Eb0;
      margin-left: 4px;
    }
  }
}

.rb-label {
  background-color: white;
  color: #40435C;
  border: 1px solid #40435C;
  padding: 6px 10px;
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 9px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.rb-label.rb-label-hoverable {
  &:hover {
    background-color: #40435C;
    color: #EFF8FE;
  }
}

.mailchimp-banner {
  background-color: #F02C41;
  padding: 1.4em 2.1em;
  margin-bottom: 28px;
  border-radius: 6px;

  .cta {
    color: #ffffff;
    font-size: 19px;
    margin-top: 4px;
    padding-left: 36px;

    @media (max-width: 499px) {
      margin-bottom: 7px;
    }
  }

  .signup-btn {
    background: #eef8fe;
    color: #1E1F2A;

    @media (max-width: 499px) {
      width: 100%;
      margin-top: 6px;
    }

    &:hover {
      color: #ffffff;
      background: #40435C;
      padding: .375rem 1.09rem;
    }
  }
}
